@model IEnumerable<BanVeMayBay.Models.order>


<section class="flight-destinations">
    <div class="container bg-white">
        <div class="row">
    
                <div class="col-md-12 col-sm-12">
  
                    <div class="flight-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Code Ticket</th>
                                    <th>Customer Name</th>
                                    <th>Booking Date</th>
                                    <th>Details</th>
                                    <th>Total Money</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            <h6>@item.ID</h6>

                                        </td>
                                        <td>
                                            <p>@item.name</p>

                                        </td>
                                        <td>
                                            <p>@item.created_ate.ToString("dd-MM-yyyy HH:ss tt")</p>
                                        </td>
                                        <td>
                                            <p><strong class="color-red-3"><a href="~/chi-tiet-order/@item.ID">View Details Order</a></strong></p>
                                          
                                        </td>
                                        <td>
                                            <h6><strong class="color-red-3">@item.total.ToString("N0") USD</strong></h6>

                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>

                 

                </div>

             
        </div>
    </div>

</section>
