
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="">
    <div>
        <form action="" method="post">
            <div class="container bg-light">
                @Html.Partial("_MessgeAlert")
                <div class="row bg-light">
                    <div class="form-group col-md-3 col-xs-12">
                        <div>
                            <label for="email">Username</label>
                            <input class="mb-0 form-control" type="text" placeholder="Username" name="uname" required>
                            <span class="text-danger">@ViewBag.error</span>
                        </div>
                        <div>
                            <label for="fullname">Fullname</label>
                            <input type="text" class="mb-0 form-control" placeholder="Fullname" name="fname" required>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input class="mb-0 form-control" type="email" id="email" name="email" placeholder="Your Email" required>
                        </div>
                        <div>
                            <label for="email">Phone</label>
                            <input class="mb-0 form-control" type="tel" name="phone" placeholder="Phone" required>
                        </div>
                        <div>
                            <label for="email">Addresss</label>
                            <input class="mb-0 form-control" type="text" name="address" placeholder="Your Address" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input class="mb-0 form-control" type="password" name="psw" id="password" placeholder="Password" required>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input class="mb-0 form-control" type="password" id="repeat-password" name="repsw" placeholder="Password" required>
                        </div>

                        <span class="text-danger">@ViewBag.error</span>
                        <button style="margin-top:20px;" class="btn-blue btn-red btn-style-1 pt-2" type="submit">Login</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>
