@model IEnumerable<BanVeMayBay.Models.ticket>
@{ var sum = 0;}
@foreach (var item in Model)
{
    
    <table style="margin-top:20px;">
        <tbody>
            <tr>
                <td class="title">Total money</td>
                <td class="b-id text-danger">@item.price.ToString("N0") USD</td>
            </tr>
            <tr>
                <td class="title">Flight Day</td>
                <td>@item.departure_date</td>
            </tr>
            <tr>
                <td class="title">Where to fly</td>
                <td>@item.departure_address</td>
            </tr>
            <tr>
                <td class="title">Destination</td>
                <td>@item.arrival_address</td>
            </tr>
        </tbody>
    </table>
    sum += (int)item.price;
}
