
@{
    ViewBag.Title = "Invalid";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}



<div class="container ">
    <div class="row">
        <div class="col-md-10">
            <span style="font-weight:bold;color:red; font-size:22px;">
                <i class="fas fa-fighter-jet">Please login to be able to buy tickets or pay </i>
            </span>
        </div>
    </div>
</div>
