@model IEnumerable<BanVeMayBay.Models.menu>
<div class="navigation bg-white">
    <div class="container ">
        <div class="navigation-content">
            <div class="header_menu">
                <!-- start Navbar (Header) -->
                <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
                    <div class="logo pull-left">
                        <a href="~/"><img alt="Image" src="~/Public/images/Logo.png"></a>
                    </div>
                    <div id="navbar" class="navbar-nav-wrapper">
                        <ul class="nav navbar-nav " id="responsive-menu">
                            @*@foreach (var item in Model)
                            {
                                <li>
                                    <a href="~/@item.link" style="color:#0B0B61;">@item.name </a>

                                </li>
                            }*@
                            <li>
          <a href="http://localhost:54015/" style="color:#0B0B61;">Home</a>
        </li>
        <li>
            <a href="http://localhost:50000/tin-tuc/tin-khuyen-mai" style="color:#0B0B61;">Promotion Infomation</a>
        </li>
        <li>
            <a href="http://localhost:54015/lien-he" style="color:#0B0B61;">Contact</a>
        </li>
        <li>
            <a href="http://localhost:54015/tin-tuc/ve-quoc-te" style="color:#0B0B61;">International Tripp</a>
        </li>
        <li>
            <a href="http://localhost:54015/tin-tuc/ve-noi-dia" style="color:#0B0B61;">Domestic Tripp</a>
        </li>
        <li>
            <a href="http://localhost:54015/all-chuyen-bay" style="color:#0B0B61;">Flights</a>
        </li>


                        </ul>
                    </div><!--/.nav-collapse -->
                    <div id="slicknav-mobile"></div>
                </nav>
            </div>
        </div>
    </div>
</div>