@model IEnumerable<BanVeMayBay.Models.topic>

@*@foreach (var item in Model)
    {
        <li><a href="~/tin-tuc/@item.slug"> @item.name</a></li>
    }*@
<li>
    <a href="http://localhost:54015/tin-tuc/tin-khuyen-mai" style="color:#0B0B61;">Promotion Infomation</a>
</li>
<li>
    <a href="http://localhost:54015/lien-he" style="color:#0B0B61;">Contact</a>
</li>
<li>
    <a href="http://localhost:54015/tin-tuc/ve-quoc-te" style="color:#0B0B61;">International Tripp</a>
</li>
<li>
    <a href="http://localhost:54015/tin-tuc/ve-noi-dia" style="color:#0B0B61;">Domestic Tripp</a>
</li>
<li>
    <a href="http://localhost:54015/all-chuyen-bay" style="color:#0B0B61;">Flights</a>
</li>